In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Datasets/Datasets/Titanic-Dataset.csv")
df.head(11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S

# Problem 1 - Sorting:

1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [4]:
# double bracket ensures ek bhanda badi df subset garna milxa
fare = df[['Fare']]
print("Fare DataFrame:\n",fare.head())


class_age = df[['Pclass', 'Age']]
print("Pclass and Age DataFrame:\n",class_age.head())

survived_gender = df[['Survived', 'Sex']]
print("Survived and Sex DataFrame:\n",survived_gender.head())

Fare DataFrame:
       Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500
Pclass and Age DataFrame:
    Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0
Survived and Sex DataFrame:
    Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

# Problem - 2 - Subsetting:

1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [5]:
# filter gareko for provided condition
fare_gt_100 = df[df['Fare'] > 100]
print("Passengers with fare greater than 100:")
print(fare_gt_100.head())

# filter 2
first_class = df[df['Pclass']==1]
print("\n\nPassengers in first class:")
print(first_class.head())

#filter 3
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]
print("\n\nFemale passengers under 18 year old:")
print(female_under_18.head())

Passengers with fare greater than 100:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C


Passengers in first class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S


Female passengers under 18 year old:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

**Subsetting Rows by Categorical variables:**
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [6]:
# filtering using .isin to ensure only tyo param ma vako will be filtered
embarked_c_or_s = df[df['Embarked'].isin(['C','S'])]
print("Passengers embarked from Cherbourg (C) or Southampton (S):")
print(embarked_c_or_s.head())

first_second_class = df[df['Pclass'].isin([1, 2])]
print("\n\nPassengers in first or second class:")
print(first_second_class.head())

Passengers embarked from Cherbourg (C) or Southampton (S):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S


Passengers in first or second class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

# **3.2 Exploratory Data Analysis Practice Exercise - 1.**

**Which passenger had the highest fare paid relative to their age?**
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [7]:
# divide garnu aghi age ko null value haru fill gareko
median_age = df['Age'].median()
# fillna use garera missing value halne
df['Age'] = df['Age'].fillna(median_age)

df['Fare per Year'] = df['Fare'] / df['Age']
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare per Year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000

In [8]:
high_fare_age = df[df['Fare per Year'] > 5]

# sorting in descending order by fare per year
high_fare_age_srt = high_fare_age.sort_values(by='Fare per Year', ascending=False)

#dislaying
result = high_fare_age_srt[['Name', 'Fare per Year']]

result

                                               Name  Fare per Year
305                  Allison, Master. Hudson Trevor     164.728261
297                    Allison, Miss. Helen Loraine      75.775000
386                 Goodwin, Master. Sidney Leonard      46.900000
164                    Panula, Master. Eino Viljami      39.687500
183                       Becker, Master. Richard F      39.000000
..                                              ...            ...
348          Coutts, Master. William Loch "William"       5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)       5.232886
205                      Strom, Miss. Telma Matilda       5.231250
813              Andersson, Miss. Ebba Iris Alfrida       5.212500
480                  Goodwin, Master. Harold Victor       5.211111

[71 rows x 2 columns]

In [9]:
# result ko first person is the answer so using iloc[0] to take the info
top_passenger = result.iloc[0]
print("Passenger with the highest fare paid relative to their age:")
print(top_passenger)

Passenger with the highest fare paid relative to their age:
Name             Allison, Master. Hudson Trevor
Fare per Year                        164.728261
Name: 305, dtype: object

**Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?**

1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [10]:
# divide garnu aghi age ko null value haru fill gareko
median_class = df['Pclass'].median()
# fillna use garera missing value halne
df['Pclass'] = df['Pclass'].fillna(median_age)

df['Fare per Class'] = df['Fare'] / df['Pclass']
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare per Year,Fare per Class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333

In [11]:
adult_male = df[df['Fare per Class'] > 5]

# sorting in descending order by fare per year
adult_male_srt = adult_male.sort_values(by='Fare per Class', ascending=False)

#dislaying
result = adult_male_srt[['Name', 'Fare per Class']]

result

                                                  Name  Fare per Class
737                             Lesurer, Mr. Gustave J      512.329200
258                                   Ward, Miss. Anna      512.329200
679                 Cardeza, Mr. Thomas Drake Martinez      512.329200
88                          Fortune, Miss. Mabel Helen      263.000000
438                                  Fortune, Mr. Mark      263.000000
..                                                 ...             ...
709  Moubarek, Master. Halim Gonios ("William George")        5.081933
852                            Boulos, Miss. Nourelain        5.081933
65                            Moubarek, Master. Gerios        5.081933
255            Touma, Mrs. Darwis (Hanne Youssef Razi)        5.081933
497                    Shellard, Mr. Frederick William        5.033333

[522 rows x 2 columns]

In [12]:
adult_passenger = result.iloc[0]
print("Passenger with the highest fare paid relative to their class:")
print(adult_passenger)

Passenger with the highest fare paid relative to their class:
Name              Lesurer, Mr. Gustave J
Fare per Class                  512.3292
Name: 737, dtype: object

# **3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:**

**What percent of the total fare revenue came from each passenger class?**
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [13]:
total_fare_paid = df['Fare'].sum()

first_class_fare = df[df['Pclass'] == 1]['Fare'].sum()

second_class_fare = df[df['Pclass'] == 2]['Fare'].sum()

third_class_fare = df[df['Pclass'] == 3]['Fare'].sum()

class_fare_totals = [first_class_fare, second_class_fare, third_class_fare]

# proportion of fare revenue from each class
# list comprehension - newlist = [expression for item in iterable can add condition too]
fare_proportions = [fare / total_fare_paid * 100 for fare in class_fare_totals]

# Display the results
print(f"Total fare revenue: {total_fare_paid:.2f}")
print(f"Fare revenue by class:")
print(f"First Class: {fare_proportions[0]:.2f}%")
print(f"Second Class: {fare_proportions[1]:.2f}%")
print(f"Third Class: {fare_proportions[2]:.2f}%")

Total fare revenue: 28693.95
Fare revenue by class:
First Class: 63.35%
Second Class: 13.25%
Third Class: 23.40%

**What percent of the total number of passengers on the Titanic belonged to each age group(e.g., child, adult, senior)?**

1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18 to 64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [15]:

df['age group'] = pd.cut(df['Age'], bins=[0, 18, 64, 150], labels=['child', 'adult', 'senior'])

total_passengers = len(df)

# value_count will count unique values in the specified col
age_group_counts = df['age group'].value_counts()

age_group_proportions = (age_group_counts / total_passengers) * 100

# Step 5: Display the result as a percentage
print("Proportion of passengers on the Titanic in each age group:")
print(age_group_proportions)

Proportion of passengers in each age group:
age group
adult     83.164983
child     15.600449
senior     1.234568
Name: count, dtype: float64